<div class="product-item">
      <img src="{productImage}" alt="astraotoshop.com">
      <div>
            <p>{productName}</p>
            <div class="price-quantity">
                  <div class="quantity text-blue">Jumlah : {qty}</div>
                  <div class="price">
                        <p class="{hide}"><span>{discountPercentage}</span><del class="text-grey">{priceDiscount}</del>
                        </p>
                        <h1>{price}</h1>
                  </div>
            </div>
      </div>
</div>

<!-- {hide} di replace jadi hide jika memang teks harus di hide, jika tidak di isi dengan string kosong -->